NEXT_PUBLIC_SUPABASE_URL=https://cbzdmoivcubvoqbhjruz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNiemRtb2l2Y3Vidm9xYmhqcnV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzNjE4MzcsImV4cCI6MjA5MDkzNzgzN30.ob9lD4EPHAlVB7GoYee6uRCbF-eYPtBw2LgqVMpy0DM

